<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shuisechanggong.goods"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="icon,label"
        android:allowBackup="true"
        android:label="@string/goods_app_name"
        android:icon="@mipmap/goods_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".GoodsDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>